:root {
    --mainColor: hsl(278, 68%, 11%);
    --cardText: hsl(0, 0%, 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

body {
    font-family: 'Space Grotesk', "sans-serif";
    font-weight: 500;
    font-size: 18px;
    color: var(--mainColor);
    letter-spacing: 1px;
    height: 900px;
    overflow: hidden;
}

.main {
    height: 900px;
    width: 100vw;
    
}


.card1 {
    background-image: url(./images/bg-card-front.png);
    width: 447px;
    height: 245px;
    color: var(--cardText);
    position: relative;
    top: 185px;
    left: 185px;
}

.cardLogo {
    position: relative;
    top: 25px;
    left: 25px;
}

.cardNum {
    position: relative;
    top: 80px;
    left: 38px;
    letter-spacing: 6px !important;
    font-size: 24px;
}

.cardName {
    position: relative;
    top: 115px;
    left: 35px;
    letter-spacing: 2px !important;
    font-size: 16px;
}

.cardDate {
    position: relative;
    top: 73px;
    left: 360px;
    letter-spacing: 2px !important;
    font-size: 16px;
}

.card2 {
    background-image: url(./images/bg-card-back.png);
    width: 447px;
    height: 245px;
    color: var(--cardText);
    position: relative;
    top: 220px;
    left: 260px;
}

.cardCvc {
    position: absolute;
    top: 106px;
    left: 350px;
}

.innerContainer {
    height: 900px;
    width: 1440px;
    /* margin: 0 auto;  */
}

.leftSide {
    background-image: url(./images/bg-main-desktop.png);
    height: 900px;
    width: 483px;
    /* background-repeat: repeat-y; */
    float: left;
}

.rightSide {
    height: 900px;
    width: 957px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0 auto; */
}

/* .rightInner {
    margin: 0 auto;
} */

.inline {
    display: inline;
}

.datesTitle {
    display: flex;
    width: 350px;
}

.datesInputs {
    display:flex;
    width: 350px;
}

.dateInput, .monthInput {
    display: inline;
    width: 100px;
    margin-right: 5px;
    
}

.cvcInput {
    width: 120px;
    margin-left: 22px;
}

.cvcP {
    position: relative;
    right: -62px;
}

.button {
    color: white;
    background-color: var(--mainColor);
    width: 350px;
    margin-top: 20px;
    height: 45px;
}

.button:hover {
    color: white;
}

.inputLabel {
    color: var(--mainColor);
    width: 350px;
    margin-bottom: 5px;
    margin-top: 15px;
}

.input {
    margin-bottom: 10px;
    height: 40px;
    border: 1px black solid;
}

.nameInput, .cardInput {
    width: 350px;
}

.attribution {
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.hideForNow {
    display: none;
}

  /*  
 @media screen and (max-width: 900px) {
    
    body {
        font-family: 'Space Grotesk', "sans-serif";
        font-weight: 500;
        font-size: 18px;
        color: var(--mainColor);
        letter-spacing: 1px;
        width: 375px;
        height: fit-content; 
        overflow: hidden;
        
    }
    
    .main {
        width: 375px;
        
    }

    .innerContainer {
        display: block;
        width: 375px;
        margin: 0 !important;
    }

    .card1 {
        background-image: url(./images/bg-card-front.png);
        width: 275px;
        height: 151px;
        background-size: contain;
        color: var(--cardText);
        position: relative;
        top: 130px;
        left: 15px;
        z-index: 3;
        margin: 0;
    }
    
    .cardLogo {
        width: 42px;
        height: 24px;
        position: relative;
        top: 15px;
        left: 15px;
    }
    
    .cardNum {
        position: relative;
        top: 45px;
        left: 21px;
        letter-spacing: 3px !important;
        font-size: 16px;
    }
    
    .cardName {
        position: relative;
        top: 63px;
        left: 18px;
        letter-spacing: 2px !important;
        font-size: 10px;
        color: var(--cardText);
    }
    
    .cardDate {
        position: relative;
        top: 30px;
        left: 220px;
        letter-spacing: 2px !important;
        font-size: 10px;
    }
    
    .card2 {
        background-image: url(./images/bg-card-back.png);
        background-size: contain;
        width: 275px;
        height: 151px;
        color: var(--cardText);
        position: relative;
        top: -106px;
        left: 80px;
        z-index: 2;
        margin: 0;
    }
    
    .cardCvc {
        position: absolute;
        top: 64px;
        left: 205px;
        font-size: 14px;
    }
    
    .leftSide {
        background-image: url(./images/bg-main-mobile.png);
        width: 375px;
        height: 240px;
    }

    .rightSide {
        width: 350px;
        position: relative;
        top: 60px;
        /* left: 20px; 
        margin: 0 !important;
    }
    
    .inline {
        display: inline;
    }
    
    .datesTitle {
        display: flex;
        width: 350px;
    }
    
    .datesInputs {
        display:flex;
        width: 350px;
    }
    
    .dateInput, .monthInput {
        display: inline;
        width: 100px;
        margin-right: 5px;
        
    }
    
    .cvcInput {
        width: 120px;
        margin-left: 22px;
    }
    
    .cvcP {
        position: relative;
        right: -62px;
    }
    
    .button {
        color: white;
        background-color: var(--mainColor);
        width: 350px;
        height: 50px;
        margin-top: 20px;
        font-size: 20px;
    
    }
    
    .button:hover {
        color: white;
    }
    
    .inputLabel {
        color: var(--mainColor);
        width: 350px;
        margin-bottom: 5px;
        margin-top: 15px;
    }
    
    .input {
        margin-bottom: 10px;
        height: 40px;
        border: 1px black solid;
    }
    
    .nameInput, .cardInput {
        width: 350px;
    }
    
    .attribution {
        font-size: 11px; text-align: center;
    }
    
    .attribution a {
        color: hsl(228, 45%, 44%);
    }



} 

/* 